{
  "MENTION":3,
  "ROWS":10,
  "auth": [
    {
      "user": "username",
      "pass": "password"
    }
  ],
  "urls": [
    "https://www.instagram.com/p/BvYUmgiJVGJ/",
	"https://www.instagram.com/p/BtRkeiHBg11/"
    ]
}
